{% extends 'homepage_template.html' %}
{% block title %}
Modifier facture
{% endblock title %}
{% block content %}
   <div class="mt-5">
       <h4 class="h4-responsive text-center" style="color: #ffffff; font-family: 'Lobster',cursive;">Modification de la facture</h3>
        <div class="row justify-content-md-center">
        <div class="col-xs-12">
       <form method="POST" action="">
           {% csrf_token %}
           <div class="mt-3 mb-3">
           {{form}}
           </div>
           <br><button type="submit" class="btn btn-info">Modifier</button>
       </form>
        </div>
        </div>
   </div>
{% endblock content %}